</body>
<footer>
<p>
    <i>To prevent uploading malicious contents, a filter is in place so Please Upload only JPG, JPEG, PNG, GIF images Only 
        or it won't work ! </i>
</p>
<h2 class="copyright"> Elliot 2021  </h2>
</footer>
</html>